<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${aiList[0].name}">Lorem.</h1>
<h1 th:text="${aiList[0].birthDate}">Quibusdam!</h1>
<h1 th:text="${aiList[0].price}">Quasi.</h1>
<h1 th:text="${aiList[1].name}">Ex!</h1>
<h1 th:text="${aiList[1].birthDate}">At.</h1>
<h1 th:text="${aiList[1].price}">Et?</h1>
<h1 th:text="${aiList[2].name}">Illo.</h1>
<h1 th:text="${aiList[2].birthDate}">Nulla.</h1>
<h1 th:text="${aiList[2].price}">Nulla.</h1>
</body>
</html>