<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${obj}">Lorem.</h1>
<h1 th:text="${obj.getName()}">Suscipit!</h1>
<h1 th:text="${obj.getAddress()}">Odit?</h1>
<h1 th:text="${obj.getAge()}">Commodi.</h1>
<h1 th:text="${obj.name}">Laudantium!</h1>
<h1 th:text="${obj.address}">Ad.</h1>
<h1 th:text="${obj.age}">Ea.</h1>
<h1 th:text="${obj.information}">Nemo.</h1>
<h1 >Repudiandae.</h1>
<h1>Sequi.</h1>
<h1>Exercitationem?</h1>
<h1>Distinctio?</h1>
<h1>Quod.</h1>
<h1>Odio.</h1>
<h1>Omnis.</h1>
<h1>Fugit!</h1>
<h1>Modi!</h1>
<h1>Quam?</h1>
<h1>Consequatur?</h1>
<h1>Nesciunt!</h1>
</body>
</html>