<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${people[0].model}">Lorem.</h1>
<h1 th:text="${people[0].age}">Quibusdam!</h1>
<h1 th:text="${people[0].married}">Quasi.</h1>
<h1 th:text="${people[1].model}">Ex!</h1>
<h1 th:text="${people[1].age}">At.</h1>
<h1 th:text="${people[1].married}">Et?</h1>
<h1 th:text="${people[2].model}">Illo.</h1>
<h1 th:text="${people[2].age}">Nulla.</h1>
<h1 th:text="${people[2].married}">Nulla.</h1>
<h1>Rem.</h1>
<h1>Sapiente?</h1>
<h1>Fugit.</h1>
<h1>Iusto.</h1>
<h1>Ipsum!</h1>
<h1>Debitis!</h1>
<h1>Aspernatur!</h1>
<h1>Perspiciatis!</h1>
<h1>A?</h1>
<h1>Fuga.</h1>
<h1>Doloremque.</h1>
</body>
</html>